
<head>
    <!-- Font Icon -->
    <link rel="stylesheet"  href="{{ url_for('static', filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}">
   

    <!-- Main css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/signup-style.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/lib/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/dogs.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/untitled.css')}}">
    

</head>
<body style="background-color: black;">

   <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top"
   id="mainNav" style="background-color: black;" >
   <div class="container" style="background-color: black;">
     <a class="navbar-brand" href="{{url_for('home')}}">
       <img
         src="https://cdn.glitch.com/4ced1143-3502-4c03-ba11-083fcadb11c5%2FLOGO.jpg?v=1604399170653"
         alt=""
       />
     </a>
     <button
       data-toggle="collapse"
       class="navbar-toggler navbar-toggler-right"
       data-target="#navbarResponsive"
       type="button"
       aria-controls="navbarResponsive"
       aria-expanded="false"
       aria-label="Toggle navigation"
       value="Menu"
     >
       <i class="fa fa-bars"></i>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="nav navbar-nav ml-auto">
         <li class="nav-item nav-link js-scroll-trigger">
           <a class="nav-link active js-scroll-trigger" href="{{url_for('login')}}">Sign In</a>
         </li>
       </ul>
     </div>
   </div>
 </nav>

<div class="main" style="background-color: black ; padding-bottom: 10px;">
<section class="signup" >
   <div class="container" >
       <div class="signup-content">
           <div class="signup-form">
               <h2 class="form-title">Sign up</h2>
               <form method="POST" class="register-form" id="register-form" action="">
                   <div class="form-group">
                       <label for="username"><i class="zmdi zmdi-face"></i></label>
                       <input type="text" name="username" id="username" placeholder="Your Username"/>
                   </div>
                   <div class="form-group">
                       <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                       <input type="text" name="name" id="name" placeholder="Your Name"/>
                   </div>
                   <div class="form-group">
                       <label for="email"><i class="zmdi zmdi-email"></i></label>
                       <input type="email" name="email" id="email" placeholder="Your Email"/>
                   </div>
                   <div class="form-group">
                       <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                       <input type="password" name="pass" id="pass" placeholder="Password"/>
                   </div>
                   <div class="form-group">
                       <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                       <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                   </div>
                   <div class="form-group">
                       <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                       <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                   </div>
                   <div class="form-group form-button">
                       <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                   </div>
               </form>
           </div>
           <div class="signup-image">
               <figure><img src="{{url_for('static',filename='img/signup-image.jpg')}} " alt="sing up image"></figure>
               <a href="{{url_for('login')}}" class="signup-image-link"><b> I am already member</b></a>
           </div>
       </div>
   </div>
</section>
</div>
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/signup-main.js') }}"></script>
</body>
<footer style="background-color: black;">
   <div class="container text-center" style="background-color: black;">
     <p>Copyright ©&nbsp;ASHU's PETSTORE</p>
   </div>
 </footer>
